{% extends 'formBase.html' %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}

<div class="container mt-4">
  <div class="row">
    {% for usuari in usuarios %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ usuari.first_name }} {{ usuari.last_name }}</h5>
          <p class="card-text"><strong>Correo:</strong> {{ usuari.email }}</p>
          <p class="card-text"><strong>Rol:</strong>
            {% if usuari.coordinador %}
              Coordinador
            {% endif %}
            {% if usuari.tutor %}
              Tutor
            {% endif %}
            {% if usuari.alumno %}
              Alumno
            {% endif %}
          </p>
        </div>
        <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between">
          <a href="{% url 'editar_usuario' usuari.id %}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-pencil"></i> Editar
          </a>
          <a href="{% url 'eliminar_usuario' usuari.id %}" class="btn btn-outline-danger btn-sm">
            <i class="bi bi-trash"></i> Eliminar
          </a>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}